<div class="container">

    <h1> Обработка на сградата</h1>
    <!-- image + text for intro -->
    <div *ngIf="selectedBuilding != null" class="row">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="#" alt="...">
                </a>
 
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{selectedBuilding.name}}</h4>
                <div>
                   {{selectedBuilding.description}}
                </div>
            </div>
        </div>
    </div>
    <!-- image + text for intro -->

    <!-- Added floors-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Налични етажи <a data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-folder-open"></span> Добави етаж</a></div>
        <div class="panel-body">
            <p>това са всички апартаменти в сградата</p>
        </div>
        <!-- List group -->
        <div  class="list-group" *ngFor="let floor of selectedFloors">
            <a href="/building-apartaments/{{floor.id}}" class="list-group-item">{{floor.name}}<span class="label"></span> </a>
        </div>
    </div>
    <!-- Added floors-->
</div>


<!-- Modal fo add apartament-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Добавяне на Етаж</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="building-name" class="control-label">Име на етажа:</label>
                    <input type="text" class="form-control" [(ngModel)]="newFloor.name"  >
                </div>
                <div class="form-group">
                    <label for="building-description" class="control-label">Описание:</label>
                    <textarea class="form-control" [(ngModel)]="newFloor.description" [ngModelOptions]="{standalone: true}" ></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Save()" >Запази</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="file" (change)="fileChange($event)" placeholder="Upload file" >
 