<div class="container">

    <h1> Обработка на сградата</h1>
    <!-- image + text for intro -->
    <div class="row">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="#" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Name</h4>
                <div>
                    text text
                </div>
            </div>
        </div>
    </div>
    <!-- image + text for intro -->

    <!-- Added apartaments-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Въведени Апартаменти</div>
        <div class="panel-body">
            <p>това са всички апартаменти в сградата</p>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">ап 1 ет 1 сем Иванови <span class="label label-danger">неплатени сметки</span></li>
            <li class="list-group-item">ап 2 ет 1 сем Петкови <span class="label label-success">редовни</span> </li>
            <li class="list-group-item">ап 3 ет 1 сем Лозеви <span class="label label-info">запитване</span></li>
            <li class="list-group-item">ап 4 ет 2 сем Тодорови <span class="label label-danger">Важно!</span></li>
            <li class="list-group-item">ап 5 ет 2 сем Кисьови <span class="label label-success">редовни</span></li>
        </ul>
    </div>
    <!-- Added apartaments-->
</div>