<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group-vertical">
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-primary" (click)="selectedDocument(1)">Стандартен Документ</button>
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-warning" (click)="selectedDocument(3)">Фактура</button>
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-danger" (click)="selectedDocument(2)">Документ От Събрание</button>
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-info">Домова Книга</button>
            </div>
        </div>
        <div class="col-sm-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Име на Документа</th>
                        <th>Описание</th>
                        <th>Път за сваляне</th>
                    </tr>
                </thead>
                <tbody ng-If="storedDocuments != null">
                    <tr *ngFor="let item of storedDocuments">
                         <td >{{item.name}}</td>
                         <td>Тест описание</td>
                        <td><a href="{{item.webPath}}">Click</a></td>
                    </tr>
                </tbody>

 

            </table>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Добавяне на Документ</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="building-name" class="control-label">Наименование на Документа:</label>
                    <input type="text" class="form-control" [(ngModel)]="newUploadedDocument.name">
                </div>
                <div class="form-group">
                    <label for="building-name" class="control-label">Описание:</label>
                    <input type="text" class="form-control" [(ngModel)]="newUploadedDocument.description">
                </div>
                <div class="form-group">
                    <label for="building-name" class="control-label">Документ:</label>
                    <input type="file" (change)="fileChange($event)" placeholder="Upload file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Save()">Запази</button>
                </div>
            </div>
        </div>
    </div>
</div>
