<form>
    <div class="row">
        <div class="form-group">
            <div [class.col-md-10]="True">
                <p class="form-control-static">User Name</p>
            </div>
            <div [class.col-md-10]="True">
                <input autofocus type="text" attr.id="userName" name="userName" placeholder="User name" class="form-control" [(ngModel)]="newUserRegistragtion.userName" />
            </div>
        </div>
        <div class="form-group">
            <div [class.col-md-10]="True">
                <p class="form-control-static">Full Name</p>
            </div>
            <div [class.col-md-10]="True">
                <input autofocus type="text" attr.id="fullName" name="fullName" placeholder="Full Name" class="form-control" [(ngModel)]="newUserRegistragtion.fullName" />
            </div>
        </div>
        <div class="form-group">
            <div [class.col-md-10]="True">
                <p class="form-control-static">E-mail</p>
            </div>
            <div [class.col-md-10]="True">
                <input autofocus type="text" attr.id="email" name="email" placeholder="E-mail" class="form-control" [(ngModel)]="newUserRegistragtion.email" />
            </div>
        </div>
        <div class="form-group">
            <div [class.col-md-10]="True">
                <p class="form-control-static">Password</p>
            </div>
            <div [class.col-md-10]="True">
                <input autofocus type="password" attr.id="Password" name="Password" placeholder="Password" class="form-control" [(ngModel)]="newUserRegistragtion.newPassword" #newPassword="ngModel" />
            </div>
        </div>
        <div class="form-group">
            <div [class.col-md-10]="True">
                <p class="form-control-static">Confirm Password</p>
            </div>
            <div [class.col-md-10]="True">
                <input autofocus type="password" #confirmPassword="ngModel" attr.id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" [(ngModel)]="newUserRegistragtion.confirmPassword" />
            </div>
        </div>
        <div class="form-group has-feedback" *ngIf="availableRoles != null">
            <label [class.col-md-2]="True" class="control-label" for="roles-user-info">Роля:</label>
            <div [class.col-md-10]="True">
                <select id="building-user-info" name="roles-user-info" [(ngModel)]="newUserRegistragtion.roleName" #ownedApartaments="ngModel" class="selectpicker form-control" bootstrapSelect required
                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="Избери роля" >
                    <option *ngFor="let role of availableRoles" attr.data-content="<span title='{{role.name}}' class='badge'>{{role.name}}</span>" attr.value="{{role.name}}">
                        {{role.name}}
                    </option>
                </select>
            </div>
        </div>
        <div  class="form-group has-feedback" *ngIf="availableBuildings != null && !isNewBuilding">
            <label [class.col-md-2]="True" class="control-label" for="apartaments-user-info">Избери Сграда:</label>
            <div [class.col-md-10]="True">
                <select id="building-user-info" name="building-user-info" [(ngModel)]="newUserRegistragtion.buildingName" #ownedApartaments="ngModel" class="selectpicker form-control" bootstrapSelect required multiple
                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="Избери апартамент" (change)="loadApartaments($event.target.value)">
                    <option *ngFor="let bld of availableBuildings" attr.data-content="<span title='{{bld.name}}' class='badge'>{{bld.name}}</span>" attr.value="{{bld.name}}">
                        {{bld.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group has-feedback" *ngIf="availableApartaments != null && !isNewBuilding">
            <label [class.col-md-2]="True" class="control-label" for="apartaments-user-info">Избери Апартамент:</label>
            <div [class.col-md-10]="True">
                <select id="apartaments-user-info" name="ownedApartaments" [(ngModel)]="newUserRegistragtion.ownedApartaments" #ownedApartaments="ngModel" class="selectpicker form-control" bootstrapSelect required multiple
                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="Избери апартамент">
                    <option *ngFor="let apart of availableApartaments" attr.data-content="<span title='{{apart.name}}' class='badge'  >{{apart.name}}</span>" attr.value="{{apart.name}}">
                        {{apart.name}}
                    </option>
                </select>
            </div>
        </div>
        <div *ngIf="isNewBuilding">
            <div class="form-group">
                <div [class.col-md-10]="True">
                    <p class="form-control-static">Име на сградата</p>
                </div>
                <div [class.col-md-10]="True">
                    <input autofocus type="text" attr.id="buildingName" name="buildingName" placeholder="Име на сградата" class="form-control" [(ngModel)]="newUserRegistragtion.buildingName" #newPassword="ngModel" />
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="save()" class="btn btn-warning unblock-user" [disabled]="isSaving"><i class='fa fa-unlock-alt'></i> Създай</button>
</form>
