<div class="container">
    <div class="page-header">
        <h1>Сградни устройства <small>добавяне, управление и премахване на сгради</small></h1>
        <div id="ManagedBuildings">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="#" alt="...">
                        <div class="caption">
                            <h3>Сграда 1</h3>
                            <p>малка сграда в центъра на софия</p>
                            <p><a href="#" class="btn btn-primary" role="button">Управлявай</a> <a href="#" class="btn btn-default" role="button">премахни</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="#" alt="...">
                        <div class="caption">
                            <h3>Сграда 2</h3>
                            <p>блок 214 гоце делчев</p>
                            <p><a href="#" class="btn btn-primary" role="button">Управлявай</a> <a href="#" class="btn btn-default" role="button">премахни</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="#" alt="...">
                        <div class="caption">
                            <h3>К-с Фонаните</h3>
                            <p>Комплексът без край/p>
                            <p><a href="#" class="btn btn-primary" role="button">Управлявай</a> <a href="#" class="btn btn-default" role="button">премахни</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>