<div class="container">
    <div class="page-header">
        <h1>Сградни устройства <small>добавяне, управление и премахване на сгради</small></h1>
        <!--add new Building-->
        <button type="button" class="btn btn-primary" *ngIf="IsGlobalAdmin" data-toggle="modal" data-target=".bs-example-modal-lg">Добави сграда</button>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Добавяне на сграда</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="building-name" class="control-label">Наименование:</label>
                            <input type="text" class="form-control" [(ngModel)]="newBuilding.name" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="building-description" class="control-label">Описание:</label>
                            <textarea class="form-control" [(ngModel)]="newBuilding.description" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="building-address" class="control-label">Адрес:</label>
                            <input type="text" class="form-control" id="building-address">
                        </div>
                        <div class="form-group">
                            <label for="building-entrances" class="control-label">Брой Входове:</label>
                            <input type="number" class="form-control" id="building-entrances"  [(ngModel)]="newBuilding.entrances" [ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class="form-group">
                            <label for="building-floors" class="control-label">Брой Етажи:</label>
                            <input type="number" class="form-control" id="building-floors"  [(ngModel)]="newBuilding.floors" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                            <button type="button" class="btn btn-primary" (click)="Save()" data-dismiss="modal">Запази</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- Manage Buildigns assigned to  Home manager -->
        <div id="ManagedBuildings">
            <small>Вашите сгради</small>
            <div class="row">
                <div class="col-sm-6 col-md-4" *ngFor="let building of buildings">
                    <div class="thumbnail">
                        <img [src]="building.image" style="width:350px; height:262px;" alt="...">
                        <div class="caption">
                            <h3>{{building.name}}</h3>
                            <p>{{building.description}}</p>
                            <p><a href="/building-details/{{building.id}}" class="btn btn-primary" role="button">Управлявай</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- Manage Buildigns assigned to  Home manager -->
    </div>
</div>